services:
  db:
    image: mysql:8.0
    container_name: siparisstok-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: order_system
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppass
    ports:
      - "3307:3306"
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: siparisstok-phpmyadmin
    restart: always
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8082:80"
    depends_on:
      - db

  app:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: siparisstok-app
    depends_on:
      - db
    ports:
      - "8080:80"
    volumes:
      - ./app/public:/var/www/html
      - ./app/src:/var/www/src
